<%= form_with model: post do |form| %>
    <% if form.object.errors.any? %>
        <p class="error">
            <%= form.object.errors.full_messages.first %>
        </p>
    <% end %>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :content %>
        <%= form.rich_textarea :content %>
    </div>

    <div>
        <%= form.label :image, style: "display: block" %>
        <%= form.file_field :image, accept: "image/*" %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>